lab3/flows.json
[
    {
        "id": "0c227af531e5614c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b06c19dc6591647",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38474815b3db5d50",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "08e95476df1c66e4",
        "type": "openweathermap in",
        "z": "0c227af531e5614c",
        "name": "SPb",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "St. Petersburg",
        "country": "Russia",
        "language": "en",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "bc6f5a4dbc8c99eb",
                "d62ed619e4962546",
                "91864d2e653d91fb"
            ]
        ]
    },
    {
        "id": "9b79d5c6eb6ffe36",
        "type": "debug",
        "z": "0c227af531e5614c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "bc6f5a4dbc8c99eb",
        "type": "function",
        "z": "0c227af531e5614c",
        "name": "function 1",
        "func": "if (msg.payload.weather === \"Drizzle\") {\n    msg.payload = \"Drizzle ahead today!\"\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d62ed619e4962546",
        "type": "debug",
        "z": "0c227af531e5614c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "accd0ea88b6d31d9",
        "type": "e-mail",
        "z": "0c227af531e5614c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "pestov.dooshes@gmail.com",
        "dname": "",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "91864d2e653d91fb",
        "type": "function",
        "z": "0c227af531e5614c",
        "name": "function 2",
        "func": "return { payload: msg.payload.windspeed};\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "d928155917f5764d"
            ]
        ]
    },
    {
        "id": "d928155917f5764d",
        "type": "switch",
        "z": "0c227af531e5614c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "23280661b73e8c95"
            ],
            [
                "9b3b7da27604ac99"
            ]
        ]
    },
    {
        "id": "23280661b73e8c95",
        "type": "template",
        "z": "0c227af531e5614c",
        "name": "wind Alert",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{wind Alert}} wind Alert",
        "output": "str",
        "x": 800,
        "y": 380,
        "wires": [
            [
                "9b79d5c6eb6ffe36"
            ]
        ]
    },
    {
        "id": "9b3b7da27604ac99",
        "type": "template",
        "z": "0c227af531e5614c",
        "name": "No wind",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{No wind}} No wind",
        "output": "str",
        "x": 800,
        "y": 420,
        "wires": [
            [
                "9b79d5c6eb6ffe36"
            ]
        ]
    },
    {
        "id": "2677c61f7a16c21f",
        "type": "mqtt in",
        "z": "5b06c19dc6591647",
        "name": "",
        "topic": "pestov/sensor",
        "qos": "2",
        "datatype": "auto",
        "broker": "38474815b3db5d50",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "c51157a0642050e4"
            ]
        ]
    },
    {
        "id": "c51157a0642050e4",
        "type": "json",
        "z": "5b06c19dc6591647",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "5ccf59a709e41b08"
            ]
        ]
    },
    {
        "id": "9149f9cfb5bd1c04",
        "type": "debug",
        "z": "5b06c19dc6591647",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "5ccf59a709e41b08",
        "type": "switch",
        "z": "5b06c19dc6591647",
        "name": "",
        "property": "payload.analyze",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "b74ee6d43f99c0f2",
                "b487263d47bf886e"
            ],
            [
                "c12e8dccc2421a20"
            ]
        ]
    },
    {
        "id": "cc39762e71eea618",
        "type": "debug",
        "z": "5b06c19dc6591647",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "c12e8dccc2421a20",
        "type": "change",
        "z": "5b06c19dc6591647",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.note",
                "pt": "msg",
                "to": "this is not being analyzed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 140,
        "wires": [
            [
                "cc39762e71eea618"
            ]
        ]
    },
    {
        "id": "b74ee6d43f99c0f2",
        "type": "change",
        "z": "5b06c19dc6591647",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 60,
        "wires": [
            [
                "bbcfb7fe6bbcb189"
            ]
        ]
    },
    {
        "id": "bbcfb7fe6bbcb189",
        "type": "rbe",
        "z": "5b06c19dc6591647",
        "name": "",
        "func": "deadband",
        "gap": "20%",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 740,
        "y": 60,
        "wires": [
            [
                "9149f9cfb5bd1c04"
            ]
        ]
    },
    {
        "id": "b487263d47bf886e",
        "type": "change",
        "z": "5b06c19dc6591647",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "9286b292a783889b"
            ]
        ]
    },
    {
        "id": "9286b292a783889b",
        "type": "range",
        "z": "5b06c19dc6591647",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 760,
        "y": 100,
        "wires": [
            [
                "f1f18f668ad48b99"
            ]
        ]
    },
    {
        "id": "f1f18f668ad48b99",
        "type": "debug",
        "z": "5b06c19dc6591647",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 100,
        "wires": []
    }
]